// Colours
$lake: #2B3241;
$lake-opacity:rgba(43, 50, 65, 0.9);
$ada-orange:#FF6933;
$sand:#EFEDE8;
$juniper: #3CC88C;
$bronze: #8A6A50;
$lake100:#3F4655;
$lake200:#555C7D;
$lake300:#394256;
$tan-02:#D1CAB9;
$nav-grey: #9498A0;

$white: #fff;
$black: #000;
 

// Typography
@import url("https://use.typekit.net/irb0gdn.css");

$futura-pt: 'futura-pt';
$futura-pt-bold: 'futura-pt-bold';
$futura-pt-book: 'futura-pt-condensed';

$primary-font:$futura-pt, helvetica, arial, sans-serif;
$primary-font-bold:$futura-pt-bold, helvetica, arial, sans-serif;
$primary-font-book:$futura-pt-book, helvetica, arial, sans-serif;

$header-font:$primary-font-bold;
$body-font:$primary-font;