@import url("https://use.typekit.net/irb0gdn.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

1
ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  background: rgba(43, 50, 65, 0.9);
  padding: 20px;
  position: relative; }
  header .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    @media only screen and (min-width: 1200px) {
      header .container {
        justify-content: space-between; } }
    header .container nav.desktop {
      display: none; }
      @media only screen and (min-width: 1200px) {
        header .container nav.desktop {
          display: block; } }
      header .container nav.desktop ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        header .container nav.desktop ul li {
          display: inline-block; }
          header .container nav.desktop ul li a {
            color: #9498A0;
            -webkit-transition: all 0.35s ease;
            -moz-transition: all 0.35s ease;
            -ms-transition: all 0.35s ease;
            -o-transition: all 0.35s ease;
            transition: all 0.35s ease;
            padding: 2px 0;
            margin: 0 20px;
            border-bottom: 2px solid transparent;
            text-decoration: none;
            font-family: "futura-pt-bold", helvetica, arial, sans-serif;
            text-transform: uppercase; }
            header .container nav.desktop ul li a:hover {
              color: #fff;
              border-bottom: 2px solid #FF6933; }
    header .container nav.mobile {
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%); }
      @media only screen and (min-width: 1200px) {
        header .container nav.mobile {
          display: none; } }
      header .container nav.mobile .hamburger-container {
        background: #FF6933;
        clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
        padding: 10px; }
        header .container nav.mobile .hamburger-container .nav-icon3 {
          width: 34px;
          height: 30px;
          max-width: 16px;
          position: relative;
          margin: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: all 0.35s ease;
          -moz-transition: all 0.35s ease;
          -ms-transition: all 0.35s ease;
          -o-transition: all 0.35s ease;
          transition: all 0.35s ease;
          cursor: pointer; }
        header .container nav.mobile .hamburger-container .nav-icon3 span {
          display: block;
          position: absolute;
          height: 2px;
          width: 100%;
          background: #fff;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: all 0.35s ease;
          -moz-transition: all 0.35s ease;
          -ms-transition: all 0.35s ease;
          -o-transition: all 0.35s ease;
          transition: all 0.35s ease; }
        header .container nav.mobile .hamburger-container .nav-icon3 span:nth-child(1) {
          top: calc(50% - 6px); }
        header .container nav.mobile .hamburger-container .nav-icon3 span:nth-child(2),
        header .container nav.mobile .hamburger-container .nav-icon3 span:nth-child(3) {
          top: calc(50% - 1px); }
        header .container nav.mobile .hamburger-container .nav-icon3 span:nth-child(4) {
          top: calc(50% + 4px); }
        header .container nav.mobile .hamburger-container .nav-icon3.open span:nth-child(1) {
          top: 50%;
          width: 0%;
          left: 50%; }
        header .container nav.mobile .hamburger-container .nav-icon3.open span:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
        header .container nav.mobile .hamburger-container .nav-icon3.open span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        header .container nav.mobile .hamburger-container .nav-icon3.open span:nth-child(4) {
          top: 50%;
          width: 0%;
          left: 50%; }

footer {
  background-color: #2B3241;
  background-image: url(../img/bg-lb_db.svg);
  background-repeat: repeat;
  padding: 0px 0px 250px;
  position: relative; }
  @media only screen and (min-width: 1200px) {
    footer {
      padding: 0px 0px 400px; } }
  footer .inner {
    background: #2B3241;
    padding: 15px; }
  footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (min-width: 1200px) {
      footer .container {
        justify-content: space-between;
        flex-wrap: nowrap; } }
    footer .container nav ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      footer .container nav ul li {
        display: inline-block; }
        footer .container nav ul li a {
          color: #9498A0;
          -webkit-transition: all 0.35s ease;
          -moz-transition: all 0.35s ease;
          -ms-transition: all 0.35s ease;
          -o-transition: all 0.35s ease;
          transition: all 0.35s ease;
          padding: 2px 0;
          margin: 0 20px;
          border-bottom: 2px solid transparent;
          text-decoration: none;
          font-family: "futura-pt-bold", helvetica, arial, sans-serif;
          text-transform: uppercase; }
          footer .container nav ul li a:hover {
            color: #fff;
            border-bottom: 2px solid #FF6933; }
      footer .container nav ul.desktop {
        display: inline-block; }
    footer .container nav span {
      display: inline-block;
      color: #9498A0;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -ms-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease;
      padding: 2px 0;
      margin: 0 20px;
      border-bottom: 2px solid transparent;
      text-decoration: none;
      font-family: "futura-pt", helvetica, arial, sans-serif;
      text-transform: uppercase; }
      footer .container nav span.bold {
        font-family: "futura-pt-bold", helvetica, arial, sans-serif; }
    footer .container nav.secondary {
      display: flex;
      flex: 1 0 100%;
      justify-content: center;
      margin-top: 15px;
      flex-direction: column;
      text-align: center; }
      @media only screen and (min-width: 1200px) {
        footer .container nav.secondary {
          display: none; } }
      footer .container nav.secondary > * {
        margin: 10px 0; }
      footer .container nav.secondary ul {
        display: block; }

body {
  background-color: #EFEDE8;
  background-image: url(../img/bg-gr_br.svg);
  background-repeat: repeat;
  background-attachment: fixed;
  overflow-x: hidden; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px; }
  .container.p-x-none {
    padding-left: 0;
    padding-right: 0; }
  @media only screen and (min-width: 992px) {
    .container {
      max-width: 992px; } }
  @media only screen and (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.d-lg-inline-block {
  display: none !important; }
  @media only screen and (min-width: 1200px) {
    .d-lg-inline-block {
      display: inline-block !important; } }

@media only screen and (max-width: 1200px) {
  .hide-on-mobile {
    display: none !important; } }

.padding-top-none {
  padding-top: 0; }

.padding-top-small {
  padding-top: 10px; }

.padding-top-medium {
  padding-top: 25px; }

.padding-top-large {
  padding-top: 50px; }

.padding-bottom-none {
  padding-bottom: 0; }

.padding-bottom-small {
  padding-bottom: 10px; }

.padding-bottom-medium {
  padding-bottom: 25px; }

.padding-bottom-large {
  padding-bottom: 50px; }

.margin-top-none {
  margin-top: 0; }

.margin-top-small {
  margin-top: 10px; }

.margin-top-medium {
  margin-top: 25px; }

.margin-top-large {
  margin-top: 50px; }

.margin-bottom-none {
  margin-bottom: 0; }

.margin-bottom-small {
  margin-bottom: 10px; }

.margin-bottom-medium {
  margin-bottom: 25px; }

.margin-bottom-large {
  margin-bottom: 50px; }

p.body-copy {
  color: #fff;
  font-family: "futura-pt", helvetica, arial, sans-serif;
  padding: 0 0 15px;
  font-size: 22px;
  line-height: 33px;
  font-weight: 400; }
  p.body-copy a {
    color: #fff; }

.text_block {
  background: #2B3241; }
  .text_block p {
    width: 100%;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-family: "futura-pt", helvetica, arial, sans-serif;
    padding: 0 25px;
    font-size: 22px;
    line-height: 33px;
    font-weight: 400; }
    .text_block p a {
      color: #fff; }
  .text_block.style-dark {
    background: #2B3241; }
    .text_block.style-dark p, .text_block.style-dark p a {
      color: #fff; }
  .text_block.style-light {
    background: #fff; }
    .text_block.style-light p, .text_block.style-light p a {
      color: #2B3241; }

.split_content {
  background: #2B3241; }
  .split_content .container {
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (min-width: 1200px) {
      .split_content .container {
        flex-wrap: wrap; } }
    .split_content .container .subtitle-container,
    .split_content .container .content {
      flex: 1 0 100%; }
      @media only screen and (min-width: 1200px) {
        .split_content .container .subtitle-container,
        .split_content .container .content {
          flex: 1 0 50%; } }
    .split_content .container .subtitle-container {
      margin-bottom: 45px; }
      @media only screen and (min-width: 1200px) {
        .split_content .container .subtitle-container {
          margin-bottom: 0; } }
      .split_content .container .subtitle-container p.subtitle {
        font-family: "futura-pt-bold", helvetica, arial, sans-serif;
        font-size: 28px;
        line-height: 36px; }
        @media only screen and (min-width: 1200px) {
          .split_content .container .subtitle-container p.subtitle {
            font-size: 48px;
            line-height: 57px; } }
        .split_content .container .subtitle-container p.subtitle.subtitle_one {
          color: #FF6933; }
        .split_content .container .subtitle-container p.subtitle.subtitle_two {
          color: #EFEDE8; }
          @media only screen and (min-width: 1200px) {
            .split_content .container .subtitle-container p.subtitle.subtitle_two {
              padding-left: 27px; } }
    .split_content .container .cta-container {
      flex: 1 0 100%;
      display: flex;
      justify-content: center;
      padding: 60px 0 0 0; }
      .split_content .container .cta-container a.cta {
        padding: 15px 25px;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        font-family: "futura-pt-bold", helvetica, arial, sans-serif;
        text-decoration: none; }
        .split_content .container .cta-container a.cta:hover {
          text-decoration: none; }
        .split_content .container .cta-container a.cta-white {
          background: #EFEDE8;
          color: #2B3241; }

.cta_block {
  background: #2B3241; }
  .cta_block .container {
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (min-width: 1200px) {
      .cta_block .container {
        flex-wrap: wrap; } }
    .cta_block .container .cta-container {
      flex: 1 0 100%;
      display: flex;
      justify-content: center; }
      .cta_block .container .cta-container a.cta {
        padding: 15px 25px;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        font-family: "futura-pt-bold", helvetica, arial, sans-serif;
        text-decoration: none; }
        .cta_block .container .cta-container a.cta:hover {
          text-decoration: none; }
        .cta_block .container .cta-container a.cta-white {
          background: #EFEDE8;
          color: #2B3241; }

.image_block picture {
  display: block; }
  .image_block picture img {
    display: block;
    width: 100%;
    height: 100%; }
  .image_block picture.aspect-ratio {
    aspect-ratio: 1.92 / 1;
    width: 100%;
    height: auto; }
    .image_block picture.aspect-ratio img {
      display: block;
      max-width: 100%;
      object-fit: cover;
      object-position: center; }
  .image_block picture.fixed-height {
    width: 100%;
    height: 270px; }
    @media only screen and (min-width: 1200px) {
      .image_block picture.fixed-height {
        height: 1000px; } }
    .image_block picture.fixed-height img {
      object-fit: cover;
      object-position: center; }
