@import url("https://use.typekit.net/irb0gdn.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

1
ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  background: rgba(43, 50, 65, 0.9);
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  z-index: 2; }
  .header-style-no-hero header {
    background: #2B3241; }
  header .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; }
    @media only screen and (min-width: 1200px) {
      header .container {
        justify-content: space-between; } }
    header .container nav.desktop {
      display: none; }
      @media only screen and (min-width: 1200px) {
        header .container nav.desktop {
          display: block; } }
      header .container nav.desktop ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        header .container nav.desktop ul li {
          display: inline-block; }
          header .container nav.desktop ul li a {
            color: #9498A0;
            -webkit-transition: all 0.35s ease;
            -moz-transition: all 0.35s ease;
            -ms-transition: all 0.35s ease;
            -o-transition: all 0.35s ease;
            transition: all 0.35s ease;
            padding: 2px 0;
            margin: 0 20px;
            border-bottom: 2px solid transparent;
            text-decoration: none;
            font-family: "futura-pt-bold", helvetica, arial, sans-serif;
            text-transform: uppercase; }
            header .container nav.desktop ul li a:hover {
              color: #fff;
              border-bottom: 2px solid #FF6933; }
          header .container nav.desktop ul li.active a {
            color: #fff;
            border-bottom: 2px solid #FF6933; }
    header .container nav.mobile {
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      z-index: 999; }
      @media only screen and (min-width: 1200px) {
        header .container nav.mobile {
          display: none; } }
      header .container nav.mobile .hamburger-container {
        background: #FF6933;
        clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
        padding: 10px;
        transition: all 0.3s ease;
        cursor: pointer; }
        header .container nav.mobile .hamburger-container.open {
          background: #2B3241; }
        header .container nav.mobile .hamburger-container .nav-icon3 {
          width: 34px;
          height: 30px;
          max-width: 16px;
          position: relative;
          margin: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: all 0.35s ease;
          -moz-transition: all 0.35s ease;
          -ms-transition: all 0.35s ease;
          -o-transition: all 0.35s ease;
          transition: all 0.35s ease;
          cursor: pointer; }
        header .container nav.mobile .hamburger-container .nav-icon3 span {
          display: block;
          position: absolute;
          height: 2px;
          width: 100%;
          background: #fff;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: all 0.35s ease;
          -moz-transition: all 0.35s ease;
          -ms-transition: all 0.35s ease;
          -o-transition: all 0.35s ease;
          transition: all 0.35s ease; }
        header .container nav.mobile .hamburger-container .nav-icon3 span:nth-child(1) {
          top: calc(50% - 6px); }
        header .container nav.mobile .hamburger-container .nav-icon3 span:nth-child(2),
        header .container nav.mobile .hamburger-container .nav-icon3 span:nth-child(3) {
          top: calc(50% - 1px); }
        header .container nav.mobile .hamburger-container .nav-icon3 span:nth-child(4) {
          top: calc(50% + 4px); }
        header .container nav.mobile .hamburger-container .nav-icon3.open span:nth-child(1) {
          top: 50%;
          width: 0%;
          left: 50%; }
        header .container nav.mobile .hamburger-container .nav-icon3.open span:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
        header .container nav.mobile .hamburger-container .nav-icon3.open span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        header .container nav.mobile .hamburger-container .nav-icon3.open span:nth-child(4) {
          top: 50%;
          width: 0%;
          left: 50%; }
  header .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FF6933;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none; }
    header .mobile-menu.active {
      opacity: 1;
      pointer-events: all; }
    header .mobile-menu nav.mobile ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      header .mobile-menu nav.mobile ul li {
        font-size: 32px;
        line-height: 38px;
        font-family: "futura-pt-bold", helvetica, arial, sans-serif;
        text-transform: uppercase;
        margin-bottom: 40px; }
        header .mobile-menu nav.mobile ul li:last-child {
          margin-bottom: 0; }
        header .mobile-menu nav.mobile ul li a {
          color: #fff;
          text-decoration: none; }
          header .mobile-menu nav.mobile ul li a:hover {
            text-decoration: none; }

footer {
  background-color: #2B3241;
  background-image: url(../img/bg-lb_db.svg);
  background-repeat: repeat;
  padding: 0px 0px 250px;
  position: relative; }
  @media only screen and (min-width: 1200px) {
    footer {
      padding: 0px 0px 400px; } }
  footer .inner {
    background: #2B3241;
    padding: 15px; }
  footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (min-width: 1200px) {
      footer .container {
        justify-content: space-between;
        flex-wrap: nowrap; } }
    footer .container nav ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      footer .container nav ul li {
        display: inline-block; }
        footer .container nav ul li a {
          color: #9498A0;
          -webkit-transition: all 0.35s ease;
          -moz-transition: all 0.35s ease;
          -ms-transition: all 0.35s ease;
          -o-transition: all 0.35s ease;
          transition: all 0.35s ease;
          padding: 2px 0;
          margin: 0 20px;
          border-bottom: 2px solid transparent;
          text-decoration: none;
          font-family: "futura-pt-bold", helvetica, arial, sans-serif;
          text-transform: uppercase; }
          footer .container nav ul li a:hover {
            color: #fff;
            border-bottom: 2px solid #FF6933; }
      footer .container nav ul.desktop {
        display: inline-block; }
    footer .container nav span {
      display: inline-block;
      color: #9498A0;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -ms-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease;
      padding: 2px 0;
      margin: 0 20px;
      border-bottom: 2px solid transparent;
      text-decoration: none;
      font-family: "futura-pt", helvetica, arial, sans-serif;
      text-transform: uppercase; }
      footer .container nav span.bold {
        font-family: "futura-pt-bold", helvetica, arial, sans-serif; }
    footer .container nav.secondary {
      display: flex;
      flex: 1 0 100%;
      justify-content: center;
      margin-top: 15px;
      flex-direction: column;
      text-align: center; }
      @media only screen and (min-width: 1200px) {
        footer .container nav.secondary {
          display: none; } }
      footer .container nav.secondary > * {
        margin: 10px 0; }
      footer .container nav.secondary ul {
        display: block; }

html.style-1 body {
  background-image: url(../img/bg-gr_br.svg); }

html.style-2 body {
  background-image: url(../img/bg-or_br.svg); }

body {
  background-color: #EFEDE8;
  background-image: url(../img/bg-gr_br.svg);
  background-repeat: repeat;
  background-attachment: fixed;
  overflow-x: hidden; }
  body.modal-active {
    overflow: hidden; }

.container {
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px;
  box-sizing: border-box; }
  .container.p-x-none {
    padding-left: 0;
    padding-right: 0; }
  @media only screen and (min-width: 992px) {
    .container {
      max-width: 992px; } }
  @media only screen and (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.d-lg-inline-block {
  display: none !important; }
  @media only screen and (min-width: 1200px) {
    .d-lg-inline-block {
      display: inline-block !important; } }

@media only screen and (max-width: 1200px) {
  .hide-on-mobile {
    display: none !important; } }

.padding-top-none {
  padding-top: 0; }

.padding-top-small {
  padding-top: 10px; }

.padding-top-medium {
  padding-top: 25px; }

.padding-top-large {
  padding-top: 50px; }

.padding-bottom-none {
  padding-bottom: 0; }

.padding-bottom-small {
  padding-bottom: 10px; }

.padding-bottom-medium {
  padding-bottom: 25px; }

.padding-bottom-large {
  padding-bottom: 50px; }

.margin-top-none {
  margin-top: 0; }

.margin-top-small {
  margin-top: 10px; }

.margin-top-medium {
  margin-top: 25px; }

.margin-top-large {
  margin-top: 50px; }

.margin-bottom-none {
  margin-bottom: 0; }

.margin-bottom-small {
  margin-bottom: 10px; }

.margin-bottom-medium {
  margin-bottom: 25px; }

.margin-bottom-large {
  margin-bottom: 50px; }

figure figcaption.text-body {
  color: #fff;
  font-family: "futura-pt", helvetica, arial, sans-serif;
  padding: 0 0 15px;
  font-size: 22px;
  line-height: 33px;
  font-weight: 400;
  padding: 0;
  margin: 0; }
  figure figcaption.text-body a {
    color: #fff; }

p.body-copy, p.text-body {
  color: #fff;
  font-family: "futura-pt", helvetica, arial, sans-serif;
  padding: 0 0 15px;
  font-size: 22px;
  line-height: 33px;
  font-weight: 400; }
  p.body-copy a, p.text-body a {
    color: #fff; }

p.text-header-xl {
  font-family: "futura-pt-bold", helvetica, arial, sans-serif;
  font-size: 28px;
  line-height: 36px; }
  @media only screen and (min-width: 1200px) {
    p.text-header-xl {
      font-size: 48px;
      line-height: 57px; } }

p.text-header-m {
  font-family: "futura-pt-bold", helvetica, arial, sans-serif;
  font-size: 22px;
  line-height: 28px; }
  @media only screen and (min-width: 1200px) {
    p.text-header-m {
      font-size: 22px;
      line-height: 28px; } }

p.text-center {
  text-align: center; }

.text_block {
  background: #2B3241; }
  .text_block p {
    width: 100%;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-family: "futura-pt", helvetica, arial, sans-serif;
    padding: 0 25px;
    font-size: 22px;
    line-height: 33px;
    font-weight: 400; }
    .text_block p a {
      color: #fff; }
  .text_block.style-dark {
    background: #2B3241; }
    .text_block.style-dark p, .text_block.style-dark p a {
      color: #EFEDE8; }
  .text_block.style-light {
    background: #EFEDE8; }
    .text_block.style-light p, .text_block.style-light p a {
      color: #2B3241; }

.split_content {
  background: #2B3241; }
  .split_content .container {
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (min-width: 1200px) {
      .split_content .container {
        flex-wrap: wrap; } }
    .split_content .container .subtitle-container,
    .split_content .container .content {
      flex: 1 0 100%; }
      @media only screen and (min-width: 1200px) {
        .split_content .container .subtitle-container,
        .split_content .container .content {
          flex: 1 0 50%; } }
    .split_content .container .subtitle-container {
      margin-bottom: 45px; }
      @media only screen and (min-width: 1200px) {
        .split_content .container .subtitle-container {
          margin-bottom: 0; } }
      .split_content .container .subtitle-container p.subtitle {
        font-family: "futura-pt-bold", helvetica, arial, sans-serif;
        font-size: 28px;
        line-height: 36px; }
        @media only screen and (min-width: 1200px) {
          .split_content .container .subtitle-container p.subtitle {
            font-size: 48px;
            line-height: 57px; } }
        .split_content .container .subtitle-container p.subtitle.subtitle_one {
          color: #FF6933; }
        .split_content .container .subtitle-container p.subtitle.subtitle_two {
          color: #EFEDE8; }
          @media only screen and (min-width: 1200px) {
            .split_content .container .subtitle-container p.subtitle.subtitle_two {
              padding-left: 27px; } }
    .split_content .container .cta-container {
      flex: 1 0 100%;
      display: flex;
      justify-content: center;
      padding: 60px 0 0 0; }
      .split_content .container .cta-container a.cta {
        padding: 15px 25px;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        font-family: "futura-pt-bold", helvetica, arial, sans-serif;
        text-decoration: none; }
        .split_content .container .cta-container a.cta:hover {
          text-decoration: none; }
        .split_content .container .cta-container a.cta-white {
          background: #EFEDE8;
          color: #2B3241; }
  .split_content.style-light {
    background: #EFEDE8;
    color: #2B3241; }
    .split_content.style-light .container .subtitle-container p.subtitle_one {
      color: #3CC88C; }
    .split_content.style-light .container .subtitle-container p.subtitle_two {
      color: #2B3241; }
    .split_content.style-light .container .content p.body-copy {
      color: #2B3241; }

.cta_block {
  background: #2B3241; }
  .cta_block.style-dark {
    background: #2B3241; }
    .cta_block.style-dark p.title {
      color: #FF6933; }
    .cta_block.style-dark a.cta {
      background: #EFEDE8;
      color: #2B3241; }
  .cta_block.style-light {
    background: #EFEDE8; }
    .cta_block.style-light p.title {
      color: #2B3241; }
    .cta_block.style-light a.cta {
      background: #2B3241;
      color: #EFEDE8; }
  .cta_block .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media only screen and (min-width: 1200px) {
      .cta_block .container {
        flex-wrap: wrap; } }
    .cta_block .container p.title {
      margin-bottom: 40px; }
    .cta_block .container .cta-container {
      flex: 1 0 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .cta_block .container .cta-container a.cta {
        padding: 15px 25px;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        font-family: "futura-pt-bold", helvetica, arial, sans-serif;
        text-decoration: none;
        margin: 10px 15px;
        flex: 0 1 100%;
        width: max-content;
        text-align: center; }
        @media only screen and (min-width: 992px) {
          .cta_block .container .cta-container a.cta {
            margin: 0 15px;
            flex: 0 1 auto; } }
        .cta_block .container .cta-container a.cta:hover {
          text-decoration: none; }

.image_block {
  background: #2B3241; }
  .image_block.style-dark {
    background: #2B3241; }
  .image_block.style-light {
    background: #EFEDE8; }
  .image_block picture {
    display: block; }
    .image_block picture img {
      display: block;
      width: 100%;
      height: 100%; }
    .image_block picture.aspect-ratio {
      aspect-ratio: 1.92 / 1;
      width: 100%;
      height: auto; }
      .image_block picture.aspect-ratio img {
        display: block;
        max-width: 100%;
        object-fit: cover;
        object-position: center; }
    .image_block picture.fixed-height {
      width: 100%;
      height: 270px; }
      @media only screen and (min-width: 1200px) {
        .image_block picture.fixed-height {
          height: 1000px; } }
      .image_block picture.fixed-height img {
        object-fit: cover;
        object-position: center; }

.hero_header_block {
  position: relative; }
  .hero_header_block picture {
    display: block;
    width: 100%;
    height: 90vh;
    max-height: 70vh;
    overflow: hidden;
    min-height: 500px; }
    @media only screen and (min-width: 1200px) {
      .hero_header_block picture {
        max-height: 90vh; } }
    .hero_header_block picture img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .hero_header_block .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    width: 100%;
    max-width: 730px;
    padding: 0 25px; }
    .hero_header_block .content p {
      color: #EFEDE8;
      font-family: "futura-pt-bold", helvetica, arial, sans-serif; }
      .hero_header_block .content p.prepend {
        font-size: 24px;
        line-height: 24px; }
        @media only screen and (min-width: 1200px) {
          .hero_header_block .content p.prepend {
            font-size: 40px;
            line-height: 40px; } }
      .hero_header_block .content p.append {
        font-size: 20px;
        line-height: 20px; }
        @media only screen and (min-width: 1200px) {
          .hero_header_block .content p.append {
            font-size: 28px;
            line-height: 28px; } }
      .hero_header_block .content p.title {
        font-size: 45px;
        line-height: 58px;
        margin: 40px 20px; }
        @media only screen and (min-width: 1200px) {
          .hero_header_block .content p.title {
            font-size: 80px;
            line-height: 104px;
            margin: 40px 10px; } }
    .hero_header_block .content figure.hero_logo {
      height: auto;
      margin: 40px 20px; }
      @media only screen and (min-width: 1200px) {
        .hero_header_block .content figure.hero_logo {
          margin: 40px 10px; } }
      .hero_header_block .content figure.hero_logo img {
        width: 100%;
        height: auto; }

.carousel_block {
  position: relative;
  background: #2B3241;
  width: 100%; }
  @media only screen and (min-width: 1200px) {
    .carousel_block .container .slick-list {
      margin: 0 -20px; } }
  @media only screen and (min-width: 1200px) {
    .carousel_block .container .slide {
      margin: 0 20px; } }
  .carousel_block .container .slide figure {
    aspect-ratio: 1.41 / 1;
    opacity: 0.4;
    transition: all 0.3s ease;
    position: relative; }
    .carousel_block .container .slide figure img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center; }
  .carousel_block .container .slide figcaption {
    position: absolute;
    bottom: -45px;
    right: 0;
    transform: translateY(100%);
    z-index: 3;
    opacity: 0;
    transition: all 0.5s ease; }
  .carousel_block .container .slide.slick-current figure {
    opacity: 1; }
    .carousel_block .container .slide.slick-current figure figcaption {
      opacity: 1; }
  .carousel_block .container.slick-slider .slick-list {
    overflow: visible; }
  .carousel_block .container.slick-slider ul.slick-dots {
    list-style: none;
    margin-top: 45px; }
    .carousel_block .container.slick-slider ul.slick-dots li {
      display: inline-block;
      margin-right: 20px; }
      .carousel_block .container.slick-slider ul.slick-dots li:last-child {
        margin-right: 0; }
      .carousel_block .container.slick-slider ul.slick-dots li button {
        font-size: 0;
        background-image: url(../img/other/slick-dot.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        text-indent: -9999px;
        overflow: hidden;
        width: 16px;
        height: 21px;
        outline: none;
        border: 0;
        transition: all 0.3s ease;
        cursor: pointer; }
      .carousel_block .container.slick-slider ul.slick-dots li.slick-active button {
        background-image: url(../img/other/slick-dot-active.svg); }
  .carousel_block .container.slick-slider button.slick-arrow {
    font-size: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    text-indent: -9999px;
    overflow: hidden;
    width: 23px;
    height: 45px;
    outline: none;
    border: 0;
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
    z-index: 2;
    cursor: pointer; }
    .carousel_block .container.slick-slider button.slick-arrow.slick-prev {
      background-image: url(../img/icons/icon-chevron-left.svg);
      left: 20px; }
    .carousel_block .container.slick-slider button.slick-arrow.slick-next {
      background-image: url(../img/icons/icon-chevron-right.svg);
      right: 20px; }
  .carousel_block .container.style-light {
    background: #EFEDE8;
    color: #2B3241; }
    .carousel_block .container.style-light .container.slick-slider .slick-list {
      overflow: visible; }
    .carousel_block .container.style-light .container.slick-slider ul.slick-dots {
      list-style: none;
      margin-top: 45px; }
      .carousel_block .container.style-light .container.slick-slider ul.slick-dots.container {
        padding-left: 0;
        padding-right: 0; }
      .carousel_block .container.style-light .container.slick-slider ul.slick-dots li {
        display: inline-block;
        margin-right: 20px; }
        .carousel_block .container.style-light .container.slick-slider ul.slick-dots li:last-child {
          margin-right: 0; }
        .carousel_block .container.style-light .container.slick-slider ul.slick-dots li button {
          background-image: url(../img/other/slick-light-dot.svg); }
        .carousel_block .container.style-light .container.slick-slider ul.slick-dots li.slick-active button {
          background-image: url(../img/other/slick-light-dot-active.svg); }
    .carousel_block .container.style-light .container.slick-slider button.slick-arrow {
      cursor: pointer; }
      .carousel_block .container.style-light .container.slick-slider button.slick-arrow.slick-prev {
        background-image: url(../img/icons/icon-light-chevron-left.svg); }
      .carousel_block .container.style-light .container.slick-slider button.slick-arrow.slick-next {
        background-image: url(../img/icons/icon-light-chevron-right.svg); }

.text_carousel_block {
  background: #2B3241; }
  .text_carousel_block .container {
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (min-width: 1200px) {
      .text_carousel_block .container {
        flex-wrap: wrap; } }
    .text_carousel_block .container .subtitle-container {
      flex: 1 0 100%; }
      @media only screen and (min-width: 1200px) {
        .text_carousel_block .container .subtitle-container {
          flex: 1 0 50%; } }
    .text_carousel_block .container .subtitle-container {
      margin-bottom: 45px; }
      @media only screen and (min-width: 1200px) {
        .text_carousel_block .container .subtitle-container {
          margin-bottom: 0; } }
      .text_carousel_block .container .subtitle-container p.subtitle {
        font-family: "futura-pt-bold", helvetica, arial, sans-serif;
        font-size: 28px;
        line-height: 36px; }
        @media only screen and (min-width: 1200px) {
          .text_carousel_block .container .subtitle-container p.subtitle {
            font-size: 48px;
            line-height: 57px; } }
        .text_carousel_block .container .subtitle-container p.subtitle.subtitle_one {
          color: #FF6933; }
        .text_carousel_block .container .subtitle-container p.subtitle.subtitle_two {
          color: #EFEDE8; }
          @media only screen and (min-width: 1200px) {
            .text_carousel_block .container .subtitle-container p.subtitle.subtitle_two {
              padding-left: 27px; } }
    .text_carousel_block .container .text_carousel {
      flex: 1 0 100%;
      margin-top: 60px;
      width: 100%; }
      .text_carousel_block .container .text_carousel p {
        color: #EFEDE8; }
        .text_carousel_block .container .text_carousel p.title {
          color: #FF6933;
          padding: 15px 0; }
      .text_carousel_block .container .text_carousel .item {
        display: flex;
        flex-direction: column;
        flex: 1 0 100%; }
        @media only screen and (min-width: 1200px) {
          .text_carousel_block .container .text_carousel .item {
            flex: 1 0 50%; } }
        @media only screen and (min-width: 1200px) {
          .text_carousel_block .container .text_carousel .item {
            flex: 1 0 33.33%; } }
        .text_carousel_block .container .text_carousel .item figure {
          max-width: 50px;
          height: auto; }
          .text_carousel_block .container .text_carousel .item figure img {
            width: 100%;
            height: auto; }
      .text_carousel_block .container .text_carousel.slick-slider ul.slick-dots {
        list-style: none;
        margin-top: 45px; }
        .text_carousel_block .container .text_carousel.slick-slider ul.slick-dots li {
          display: inline-block;
          margin-right: 20px; }
          .text_carousel_block .container .text_carousel.slick-slider ul.slick-dots li:last-child {
            margin-right: 0; }
          .text_carousel_block .container .text_carousel.slick-slider ul.slick-dots li button {
            font-size: 0;
            background-image: url(../img/other/slick-dot.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent;
            text-indent: -9999px;
            overflow: hidden;
            width: 16px;
            height: 21px;
            outline: none;
            border: 0;
            transition: all 0.3s ease;
            cursor: pointer; }
          .text_carousel_block .container .text_carousel.slick-slider ul.slick-dots li.slick-active button {
            background-image: url(../img/other/slick-dot-active.svg); }
      .text_carousel_block .container .text_carousel.slick-slider button.slick-arrow {
        font-size: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        text-indent: -9999px;
        overflow: hidden;
        width: 14px;
        height: 28px;
        outline: none;
        border: 0;
        transition: all 0.3s ease;
        position: absolute;
        top: -100px;
        z-index: 2;
        cursor: pointer; }
        @media only screen and (min-width: 1200px) {
          .text_carousel_block .container .text_carousel.slick-slider button.slick-arrow {
            top: -100px; } }
        .text_carousel_block .container .text_carousel.slick-slider button.slick-arrow.slick-prev {
          background-image: url(../img/icons/icon-chevron-left.svg);
          right: 0px;
          transform: translateX(calc(-100% - 45px)); }
        .text_carousel_block .container .text_carousel.slick-slider button.slick-arrow.slick-next {
          background-image: url(../img/icons/icon-chevron-right.svg);
          right: 0px; }
  .text_carousel_block.style-light {
    background: #EFEDE8;
    color: #2B3241; }
    .text_carousel_block.style-light .container .subtitle-container p.subtitle_one {
      color: #3CC88C; }
    .text_carousel_block.style-light .container .subtitle-container p.subtitle_two {
      color: #2B3241; }
    .text_carousel_block.style-light .container .text_carousel .item p.title {
      color: #3CC88C; }
    .text_carousel_block.style-light .container .text_carousel .item p.text-body {
      color: #2B3241; }
    .text_carousel_block.style-light .container .text_carousel.slick-slider ul.slick-dots li button {
      background-image: url(../img/other/slick-light-dot.svg); }
    .text_carousel_block.style-light .container .text_carousel.slick-slider ul.slick-dots li.slick-active button {
      background-image: url(../img/other/slick-light-dot-active.svg); }
    .text_carousel_block.style-light .container .text_carousel.slick-slider button.slick-arrow.slick-prev {
      background-image: url(../img/icons/icon-light-chevron-left.svg); }
    .text_carousel_block.style-light .container .text_carousel.slick-slider button.slick-arrow.slick-next {
      background-image: url(../img/icons/icon-light-chevron-right.svg); }

.image_text_splitter_block {
  background-image: url(../img/bg-rectangle-dark.svg);
  background-size: cover;
  background-position: top center;
  background-repeat: repeat-y;
  background-color: #2B3241; }
  .image_text_splitter_block.style-dark {
    background-color: #2B3241; }
  .image_text_splitter_block.style-light {
    background-color: #EFEDE8;
    background-image: url(../img/bg-rectangle-light.svg); }
    .image_text_splitter_block.style-light .content-container .subtitle-container p.subtitle_one {
      color: #3CC88C !important; }
    .image_text_splitter_block.style-light .content-container .subtitle-container p.subtitle_two {
      color: #2B3241 !important; }
    .image_text_splitter_block.style-light .content-container p.text-body {
      color: #2B3241; }
  @media only screen and (min-width: 1200px) {
    .image_text_splitter_block.text-alignment-left .container .content-container {
      order: 1;
      padding: 0 30px 0 0; } }
  @media only screen and (min-width: 1200px) {
    .image_text_splitter_block.text-alignment-left .container picture.primary-image {
      order: 2; } }
  .image_text_splitter_block.text-alignment-left .container picture.secondary-image {
    margin: 40px auto 40px 0; }
    @media only screen and (min-width: 1200px) {
      .image_text_splitter_block.text-alignment-left .container picture.secondary-image {
        order: 3;
        margin: 45px auto 20px 0; } }
  .image_text_splitter_block .container {
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (min-width: 1200px) {
      .image_text_splitter_block .container {
        flex-wrap: wrap; } }
    .image_text_splitter_block .container .content-container {
      flex: 1 0 100%; }
      @media only screen and (min-width: 1200px) {
        .image_text_splitter_block .container .content-container {
          flex: 0 1 calc(40% - 30px);
          order: 2;
          padding: 0 0 0 30px; } }
      .image_text_splitter_block .container .content-container .subtitle-container {
        margin-bottom: 45px; }
        @media only screen and (min-width: 1200px) {
          .image_text_splitter_block .container .content-container .subtitle-container {
            margin-bottom: 0; } }
        .image_text_splitter_block .container .content-container .subtitle-container p.subtitle {
          font-family: "futura-pt-bold", helvetica, arial, sans-serif;
          font-size: 28px;
          line-height: 36px; }
          @media only screen and (min-width: 1200px) {
            .image_text_splitter_block .container .content-container .subtitle-container p.subtitle {
              font-size: 48px;
              line-height: 57px; } }
          .image_text_splitter_block .container .content-container .subtitle-container p.subtitle.subtitle_one {
            color: #FF6933; }
          .image_text_splitter_block .container .content-container .subtitle-container p.subtitle.subtitle_two {
            color: #EFEDE8; }
            @media only screen and (min-width: 1200px) {
              .image_text_splitter_block .container .content-container .subtitle-container p.subtitle.subtitle_two {
                padding-left: 60px; } }
      @media only screen and (min-width: 1200px) {
        .image_text_splitter_block .container .content-container p.text-body {
          padding-left: 60px; } }
    .image_text_splitter_block .container picture.primary-image {
      flex: 1 0 100%;
      aspect-ratio: 1.117 / 1; }
      @media only screen and (min-width: 1200px) {
        .image_text_splitter_block .container picture.primary-image {
          flex: 0 1 60%;
          order: 1; } }
      .image_text_splitter_block .container picture.primary-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; }
    .image_text_splitter_block .container picture.secondary-image {
      flex: 0 1 80%;
      margin: 40px 0 40px auto; }
      @media only screen and (min-width: 1200px) {
        .image_text_splitter_block .container picture.secondary-image {
          flex: 0 1 calc(40% - 40px);
          order: 3;
          margin: 45px 0 20px auto; } }
      @media only screen and (min-width: 1200px) {
        .image_text_splitter_block .container picture.secondary-image.offset {
          margin-top: -75px; } }
    .image_text_splitter_block .container picture img {
      width: 100%; }

.list_block {
  background: #2B3241; }
  .list_block .subtitle-container {
    margin-bottom: 45px; }
    @media only screen and (min-width: 1200px) {
      .list_block .subtitle-container {
        margin-bottom: 0; } }
    .list_block .subtitle-container p.subtitle {
      font-family: "futura-pt-bold", helvetica, arial, sans-serif;
      font-size: 28px;
      line-height: 36px; }
      @media only screen and (min-width: 1200px) {
        .list_block .subtitle-container p.subtitle {
          font-size: 48px;
          line-height: 57px; } }
      .list_block .subtitle-container p.subtitle.subtitle_one {
        color: #FF6933; }
      .list_block .subtitle-container p.subtitle.subtitle_two {
        color: #EFEDE8; }
        @media only screen and (min-width: 1200px) {
          .list_block .subtitle-container p.subtitle.subtitle_two {
            padding-left: 60px; } }
  .list_block .list-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative; }
    .list_block .list-items .list-item {
      flex: 1 0 100%;
      margin-bottom: 20px; }
      @media only screen and (min-width: 1200px) {
        .list_block .list-items .list-item {
          flex: 1 0 calc(50% - 35px); }
          .list_block .list-items .list-item:nth-child(odd) {
            padding-right: 35px; }
          .list_block .list-items .list-item:nth-child(even) {
            padding-left: 35px; } }
      .list_block .list-items .list-item figure {
        width: 55px;
        height: 55px;
        padding-bottom: 10px; }
        .list_block .list-items .list-item figure img {
          width: 100%;
          height: 100%;
          object-fit: contain; }
      .list_block .list-items .list-item p.title {
        color: #FF6933;
        padding-bottom: 10px; }
      .list_block .list-items .list-item .content-wrapper {
        color: #fff;
        font-family: "futura-pt", helvetica, arial, sans-serif;
        padding: 0 0 15px;
        font-size: 22px;
        line-height: 33px;
        font-weight: 400; }
        .list_block .list-items .list-item .content-wrapper a {
          color: #fff; }
    .list_block .list-items .cutout {
      clip-path: polygon(0 40%, 100% 0, 100% 60%, 0% 100%);
      background-color: #EFEDE8;
      background-image: url(../img/bg-gr_br.svg);
      background-attachment: fixed;
      top: 0;
      right: 0;
      width: 50%;
      aspect-ratio: 1 / 1;
      margin: 30px 0 40px; }
      @media only screen and (min-width: 1200px) {
        .list_block .list-items .cutout {
          width: 25%;
          position: absolute;
          margin: 0; } }
    @media only screen and (min-width: 1200px) {
      .list_block .list-items.list-column-one .list-item {
        flex: 0 1 100%; } }
  @media only screen and (min-width: 1200px) and (min-width: 1200px) {
    .list_block .list-items.list-column-one .list-item {
      flex: 0 1 70%; } }
    @media only screen and (min-width: 1200px) {
        .list_block .list-items.list-column-one .list-item:nth-child(odd) {
          padding-right: 0; }
        .list_block .list-items.list-column-one .list-item:nth-child(even) {
          padding-left: 0; } }
    @media only screen and (min-width: 1200px) {
      .list_block .list-items.list-column-two .cutout {
        width: 15%;
        transform: translate(100%, -70%); } }

.image_ctas_block {
  background: #2B3241; }
  .image_ctas_block .image-ctas {
    display: flex;
    flex-wrap: wrap; }
    .image_ctas_block .image-ctas .cta-item {
      flex: 1 0 100%; }
      .image_ctas_block .image-ctas .cta-item:nth-child(odd) {
        margin: 0 0 15px 0; }
      .image_ctas_block .image-ctas .cta-item:nth-child(even) {
        margin: 15px 0 0 0; }
      @media only screen and (min-width: 1200px) {
        .image_ctas_block .image-ctas .cta-item {
          flex: 1 0 calc(50% - 15px); }
          .image_ctas_block .image-ctas .cta-item:nth-child(odd) {
            margin: 0 15px 0 0; }
          .image_ctas_block .image-ctas .cta-item:nth-child(even) {
            margin: 0 0 0 15px; } }
      .image_ctas_block .image-ctas .cta-item a {
        position: relative; }
        .image_ctas_block .image-ctas .cta-item a:hover figure img, .image_ctas_block .image-ctas .cta-item a:focus figure img {
          transform: scale(1.15); }
      .image_ctas_block .image-ctas .cta-item figure {
        aspect-ratio: 1.814 / 1;
        overflow: hidden; }
        .image_ctas_block .image-ctas .cta-item figure img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          transition: all 3s ease-in-out; }
      .image_ctas_block .image-ctas .cta-item .content-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center; }
        .image_ctas_block .image-ctas .cta-item .content-container p {
          color: #fff;
          font-family: "futura-pt-bold", helvetica, arial, sans-serif; }
          .image_ctas_block .image-ctas .cta-item .content-container p.prepend {
            font-size: 22px;
            line-height: 28px; }
          .image_ctas_block .image-ctas .cta-item .content-container p.title {
            font-size: 32px;
            line-height: 38px; }
            @media only screen and (min-width: 1200px) {
              .image_ctas_block .image-ctas .cta-item .content-container p.title {
                font-size: 56px;
                line-height: 67px; } }

.availability_block {
  background: #2B3241; }
  .availability_block:before {
    display: block;
    content: "";
    width: 100%;
    height: 120px;
    background-color: #2B3241;
    background-image: url(../img/bg-lb_db.svg);
    background-repeat: repeat-x;
    background-attachment: fixed; }
  .availability_block p.title {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff; }
  .availability_block p.prepend-title {
    font-size: 80px;
    line-height: 104px;
    text-align: center;
    color: #fff; }
  .availability_block .svg-container {
    padding: 35px 0; }
    .availability_block .svg-container svg g path:nth-child(2n-1) {
      fill: #3CC88C;
      transition: all 0.3s ease;
      cursor: pointer; }
      .availability_block .svg-container svg g path:nth-child(2n-1):hover {
        fill: #FF6933; }
    .availability_block .svg-container svg .floor {
      fill: #3CC88C;
      transition: all 0.3s ease;
      cursor: pointer; }
      .availability_block .svg-container svg .floor:hover {
        fill: #FF6933; }
  .availability_block .image-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EFEDE8;
    z-index: 5;
    overflow-y: auto;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none; }
    .availability_block .image-modal-container.active {
      opacity: 1;
      pointer-events: all; }
    .availability_block .image-modal-container .modal-inner {
      display: flex;
      flex-wrap: wrap;
      min-height: 100vh; }
      @media only screen and (min-width: 1200px) {
        .availability_block .image-modal-container .modal-inner {
          flex-wrap: nowrap; } }
      .availability_block .image-modal-container .modal-inner .content {
        flex: 1 0 100%;
        flex-direction: column;
        padding: 40px 0; }
        @media only screen and (min-width: 1200px) {
          .availability_block .image-modal-container .modal-inner .content {
            flex: 1 0 calc(40% - 60px);
            padding: 40px 60px 40px 0; } }
        .availability_block .image-modal-container .modal-inner .content p.title {
          color: #2B3241;
          text-align: left;
          padding-bottom: 15px; }
        .availability_block .image-modal-container .modal-inner .content .statistics-container {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap; }
          .availability_block .image-modal-container .modal-inner .content .statistics-container p {
            font-family: "futura-pt-bold", helvetica, arial, sans-serif;
            color: #FF6933;
            font-size: 24px;
            line-height: 24px;
            padding-bottom: 15px; }
            .availability_block .image-modal-container .modal-inner .content .statistics-container p:nth-child(odd) {
              flex: 1 0 50%;
              text-align: left; }
            .availability_block .image-modal-container .modal-inner .content .statistics-container p:nth-child(even) {
              flex: 1 0 50%;
              text-align: right; }
      .availability_block .image-modal-container .modal-inner .maps {
        flex: 1 0 100%;
        padding: 40px 0; }
        @media only screen and (min-width: 1200px) {
          .availability_block .image-modal-container .modal-inner .maps {
            flex: 1 0 60%; } }
        .availability_block .image-modal-container .modal-inner .maps figure {
          width: 100%; }
          .availability_block .image-modal-container .modal-inner .maps figure img {
            width: 100%; }
        .availability_block .image-modal-container .modal-inner .maps .cta-container {
          flex: 1 0 100%;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          padding-top: 15px; }
          .availability_block .image-modal-container .modal-inner .maps .cta-container a.cta {
            padding: 15px 25px;
            font-size: 16px;
            line-height: 16px;
            text-transform: uppercase;
            font-family: "futura-pt-bold", helvetica, arial, sans-serif;
            text-decoration: none;
            margin: 10px 15px;
            flex: 0 1 100%;
            width: max-content;
            text-align: center;
            background: #2B3241;
            color: #EFEDE8; }
            @media only screen and (min-width: 992px) {
              .availability_block .image-modal-container .modal-inner .maps .cta-container a.cta {
                margin: 0 15px;
                flex: 0 1 auto; } }
            .availability_block .image-modal-container .modal-inner .maps .cta-container a.cta:hover {
              text-decoration: none; }
    .availability_block .image-modal-container figure.close {
      position: absolute;
      top: 40px;
      right: 40px;
      width: 64px;
      height: 64px;
      z-index: 10;
      cursor: pointer; }
      .availability_block .image-modal-container figure.close img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center; }

.image_split_block {
  background: #2B3241; }
  .image_split_block.style-light {
    background: #EFEDE8; }
  .image_split_block .container {
    display: flex;
    flex-wrap: wrap; }
    .image_split_block .container figure {
      flex: 1 0 100%; }
      @media only screen and (min-width: 1200px) {
        .image_split_block .container figure {
          flex: 1 0 50%; } }
      .image_split_block .container figure img {
        width: 100%; }
      .image_split_block .container figure:nth-child(1) {
        order: 2; }
        @media only screen and (min-width: 1200px) {
          .image_split_block .container figure:nth-child(1) {
            order: 1; } }
      .image_split_block .container figure:nth-child(2) {
        order: 1; }
        @media only screen and (min-width: 1200px) {
          .image_split_block .container figure:nth-child(2) {
            order: 2; } }

.contact-us {
  background: #2B3241;
  padding: 175px 0; }
  .contact-us .container {
    display: flex;
    flex-wrap: wrap; }
    .contact-us .container .title-container {
      flex: 1 0 100%;
      margin-bottom: 50px; }
      @media only screen and (min-width: 1200px) {
        .contact-us .container .title-container {
          flex: 1 0 50%;
          margin-bottom: 0px; } }
      .contact-us .container .title-container p.title {
        color: #fff;
        font-size: 48px;
        line-height: 57px; }
        @media only screen and (min-width: 1200px) {
          .contact-us .container .title-container p.title {
            font-size: 80px;
            line-height: 104px; } }
    .contact-us .container .details-container {
      flex: 1 0 100%;
      display: flex;
      flex-wrap: wrap; }
      @media only screen and (min-width: 1200px) {
        .contact-us .container .details-container {
          flex: 1 0 50%; } }
      .contact-us .container .details-container .item {
        flex: 1 0 100%;
        margin-bottom: 25px; }
        @media only screen and (min-width: 1200px) {
          .contact-us .container .details-container .item {
            flex: 1 0 50%;
            margin-bottom: 0px; } }
        .contact-us .container .details-container .item p.title {
          color: #fff;
          font-size: 22px;
          line-height: 28px;
          color: #FF6933; }

.four-oh-four {
  background: #2B3241;
  padding: 175px 0; }
  .four-oh-four .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 440px; }
    .four-oh-four .container p.title {
      color: #FF6933;
      font-size: 48px;
      line-height: 57px;
      text-align: center; }
      @media only screen and (min-width: 1200px) {
        .four-oh-four .container p.title {
          font-size: 80px;
          line-height: 104px;
          text-align: left; } }
    .four-oh-four .container p.text-body {
      text-align: center; }
      @media only screen and (min-width: 1200px) {
        .four-oh-four .container p.text-body {
          text-align: left; } }
    .four-oh-four .container a.cta {
      padding: 15px 25px;
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;
      font-family: "futura-pt-bold", helvetica, arial, sans-serif;
      text-decoration: none;
      margin: 10px auto;
      flex: 0 1 100%;
      width: max-content;
      text-align: center;
      background: #EFEDE8;
      color: #2B3241; }
      @media only screen and (min-width: 992px) {
        .four-oh-four .container a.cta {
          margin: 10px auto 10px 0;
          flex: 0 1 auto; } }
      .four-oh-four .container a.cta:hover {
        text-decoration: none; }
