.image_text_splitter_block {
  background-image: url(../img/bg-rectangle-dark.svg);
  background-size: cover;
  background-position: top center;
  background-repeat: repeat-y;
  background-color: $lake;

  &.style {
    &-dark {
      background-color: $lake;
    }

    &-light {
      background-color: $sand;
      background-image: url(../img/bg-rectangle-light.svg);


      .content-container {
        .subtitle-container {
          p {
            &.subtitle_one {
              opacity: 0;
              color: $juniper !important;
            }

            &.subtitle_two {
              opacity: 0;
              color: $lake !important;
            }
          }
        }

        p.text-body {
          color: $lake;
        }
      }
    }
  }

  &.text-alignment {
    &-right {}

    &-left {
      .container {
        .content-container {
          @include respond(large-up) {
            order: 1;
            padding: 0 30px 0 0;
          }
        }

        picture {
          &.primary-image {
            @include respond(large-up) {
              order: 2;
            }
          }

          &.secondary-image {
            margin: 40px auto 40px 0;

            @include respond(large-up) {
              order: 3;
              margin: 45px auto 20px 0;
            }
          }
        }
      }
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;

    @include respond (large-up) {
      flex-wrap: wrap;
    }

    .content-container {
      flex: 1 0 100%;

      @include respond(large-up) {
        flex: 0 1 calc(40% - 30px);
        order: 2;
        padding: 0 0 0 30px;
      }

      .subtitle-container {
        margin-bottom: 45px;

        @include respond(large-up) {
          margin-bottom: 0;
        }

        p.subtitle {
          font-family: $header-font;
          // font-weight: 700;
          font-size: 28px;
          line-height: 36px;

          @include respond(large-up) {
            font-size: 48px;
            line-height: 57px;
          }

          &.subtitle_one {
            color: $ada-orange;
          }

          &.subtitle_two {
            color: $sand;

            // @include respond (large-up) {
            //   padding-left: 60px;
            // }
          }
        }

      }

      p.text-body {
        @include respond (large-up) {
          padding-left: 60px;
        }
      }
    }

    picture {
      &.primary-image {
        flex: 1 0 100%;
        aspect-ratio: 1.117 / 1;

        @include respond (large-up) {
          flex: 0 1 60%;
          order: 1;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &.secondary-image {
        flex: 0 1 80%;
        margin: 40px 0 40px auto;

        @include respond(medium-up) {
          flex: 0 1 55%;
        }


        @include respond (large-up) {
          flex: 0 1 calc(40% - 40px);
          order: 3;
          margin: 45px 0 20px auto;
        }

        &.offset {
          @include respond (large-up) {
            margin-top: -75px
          }
        }
      }

      img {
        width: 100%;
      }
    }




  }
  
  p.subtitle.subtitle_one,
  p.subtitle.subtitle_two {
    opacity:0;
  }

  &.active {
    p.subtitle.subtitle_one {
      animation-name: fadeInRight;
      animation-duration: 0.75s;
      animation-fill-mode: forwards;
      // animation-delay: 0.5s;
    }

    p.subtitle.subtitle_two {
      animation-name: fadeInRight;
      animation-duration: 0.75s;
      animation-fill-mode: forwards;
      // animation-delay: 0.5s;
    }
  }
}