.list_block {
  background: $lake;

  .subtitle-container {
    margin-bottom: 45px;

    @include respond(large-up) {
      margin-bottom: 0;
    }

    p.subtitle {
      font-family: $header-font;
      // font-weight: 700;
      font-size: 28px;
      line-height: 36px;

      @include respond(large-up) {
        font-size: 48px;
        line-height: 57px;
      }

      &.subtitle_one {
        opacity: 0;
        color: $ada-orange;
      }

      &.subtitle_two {
        opacity: 0;
        color: $sand;

        // @include respond (large-up) {
        //   padding-left: 60px;
        // }
      }
    }

  }

  .list-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    .list-item {
      flex: 1 0 100%;
      margin-bottom: 20px;

      @include respond (large-up) {
        flex: 1 0 calc(50% - 35px);

        &:nth-child(odd) {
          padding-right: 35px;
        }

        &:nth-child(even) {
          padding-left: 35px;
        }
      }

      display:block;

      @include respond(large-up) {
        display: block;
      }

      &:nth-child(n+4) {
        display: none;
        @include respond(large-up) {
          display: block;
        }
      }

      figure {
        width: 55px;
        height: 55px;
        padding-bottom: 10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      p {
        &.title {
          color: $ada-orange;
          padding-bottom: 10px;
        }
      }

      .content-wrapper {
        color: $white;
        font-family: $body-font;
        padding: 0 0 15px;
        font-size: 22px;
        line-height: 33px;
        font-weight: 400;

        p {
          max-width:680px;
          @include respond(large-up) {
            max-width:100%;
          }
        }

        a {
          color: $white;
        }
        ul, ol {
          padding-left:30px;
        }

      }
    }

    &.show-all {
        .list-item {
        display:block;
        }
        button.show-all {
          display:none;
        }
    }
    a, button {
      &.cta {
        padding: 15px 25px;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        font-family: $header-font;
        text-decoration: none;
        margin: 10px 15px;
        flex: 0 1 100%;
        width: max-content;
        text-align: center;
        border:0;

        background: $sand;
          color: $lake;

          transition:all 0.3s ease;
          cursor:pointer;

          display:inline-block;
        @include respond (medium-up) {
          margin: 0 15px;
          flex: 0 1 auto;
          display:none;
        }

        &:hover {
          text-decoration: none;
          background: $ada-orange;
          color: $lake;
        }

        &-white {}
      }
    }

    .cutout {
      clip-path: polygon(0 40%, 100% 0, 100% 60%, 0% 100%);
      background-color: $sand;
      background-image: url(../img/bg-gr_br.svg);
      background-attachment: fixed;
      top: 0;
      right: 0;
      width: 50%;
      aspect-ratio: 1 / 1;
      margin: 30px 0 40px;

      @include respond (medium-only) {
        display:none;
      }

      @include respond(large-up) {
        width: 25%;
        position: absolute;
        margin: 0;
      }
    }

    &.list-column {
      &-one {
        .list-item {
          @include respond (large-up) {
            flex: 0 1 100%;

            @include respond(large-up) {
              flex: 0 1 70%;
            }

            &:nth-child(odd) {
              padding-right: 0;
            }

            &:nth-child(even) {
              padding-left: 0;
            }
          }
        }
      }

      &-two {
        .cutout {
          @include respond (large-up) {
            width: 15%;
            transform: translate(100%, -70%)
          }
        }
      }
    }


  }

  &.active {
    .subtitle-container p.subtitle.subtitle_one {
      animation-name: fadeInRight;
      animation-duration: 0.75s;
      animation-fill-mode: forwards;
      animation-delay: 0.75s;
    }

    .subtitle-container p.subtitle.subtitle_two {
      animation-name: fadeInRight;
      animation-duration: 0.75s;
      animation-fill-mode: forwards;
      animation-delay: 1.2s;
    }
  }
}